{% extends 'base.html.twig' %}

{% block title %}New Continents{% endblock %}

{% block body %}
    <h1>Create new Continents</h1>

    {{ include('continents/_form.html.twig') }}

    <a href="{{ path('app_continents_index') }}">back to list</a>
{% endblock %}
